{{!< default}}
<link rel="stylesheet" href="/styles/site/main.css">
<div class="hero">
  <div class="hero-area">
    <div class="hero-text">
      <h1 class="hero-text__title">Hey I'm Damjan</h1>
      <p class="hero-text__paragraph">Helping start-ups, small businesses, and agencies achieve high quality websites and exceptional user experience. With a focus on backend with node, and react as a frontend, you will be sure that your application has a quick and responive feel.</p>        
    </div>
    <div class="profile-image-container">
      <img src="images/damjan.jpg" alt="" class="profile-image">
    </div>
  </div>
  <button class="view-portfolio--cta">View Porfolio</button>
</div>
<div id="portfolio">
    
  <!-- <h1 id="porfolio-title">My porfolio</h1> -->
  <ul class="portfolio-list">
    <li class="portfolio-list__item">
      <h2>Project: Node.Js</h2>
      <div class="bg-image">.</div>
      <p class="technologies-used">node.js, react, mongoDb</p>
    </li>
    <li class="portfolio-list__item">
      <h2>Project: Node.Js</h2>
      <div class="bg-image">.</div>
      <p class="technologies-used">node.js, react, mongoDb</p>
    </li>
    <li class="portfolio-list__item">
      <h2>Project: Node.Js</h2>
      <div class="bg-image">.</div>
      <p class="technologies-used">node.js, react, mongoDb</p>
    </li>
    <li class="portfolio-list__item">
      <h2>Project: Node.Js</h2>
      <div class="bg-image">.</div>
      <p class="technologies-used">node.js, react, mongoDb</p>
    </li>
    <li class="portfolio-list__item">
      <h2>Project: Node.Js</h2>
      <div class="bg-image">.</div>
      <p class="technologies-used">node.js, react, mongoDb</p>
    </li>
    <li class="portfolio-list__item">
      <h2>Project: Node.Js</h2>
      <div class="bg-image">.</div>
      <p class="technologies-used">node.js, react, mongoDb</p>
    </li>
  </ul> 
</div>
<div class="about-me__wrapper">
  <div class="about-me">
    <h1 class="about-me__title">About me</h1>
    <p class="about-me__paragraph">Helping start-ups, small businesses, and agencies achieve high quality websites and exceptional user experience. With a focus on backend with node, and react as a frontend, you will be sure that your application has a quick and responive feel.</p>
  </div>
  <div class="skills">
    <h1 class="skills-title">My skill set</h1>
    <ul class="skills-list">
      <li class="skills-list__item">
        <h3>node.Js</h3>
        <div>
          <meter min="0" low="10" optimum="50" high="90" max="100" value="70"></meter>
          <p>70%</p> 
        </div>
      </li>
      <li class="skills-list__item">
        <h3>react.Js</h3>
        <div>
          <meter min="0" low="10" optimum="50" high="90" max="100" value="40"></meter>
          <p>40%</p> 
        </div> 
      </li>
      <li class="skills-list__item">
        <h3>Ruby on Rails</h3>
        <div>
          <meter min="0" low="10" optimum="50" high="90" max="100" value="30"></meter>
          <p>30%</p> 
        </div>
      </li>
    </ul>
  </div>
</div>