<link rel="stylesheet" href="styles/site/portfolio.css">
<div class="portfolio-wrapper">
  <h1 class="page-title">My personal portfolio</h1>
    {{#each portfolios}}
      <div class="portfolio-item">
        <a href="{{portfolioUrl slug}}">
        <h2>{{{title}}}</h2>
        {{#if image}}
          <img src="{{{cloudinaryUrl image crop="fit" width=160 height=160}}}" class="thumbnail" alt="">        
        {{/if}}

        
        {{{description}}}
        </a>
      </div>
    {{/each}}  
</div>
