{{!-- <link rel="stylesheet" href="styles/site/portfolio.css"> --}}
<div class="portfolio">
  <div class="portfolio-area">
    <div class="portfolio-description">
      <h1>{{data.portfolio.title}}</h1>

      {{{data.portfolio.description}}}
    </div>

    <div class="image">
      {{#if data.portfolio.image}}
            <img src="{{cloudinaryUrl data.portfolio.image crop='fit'}}"  class="img-responsive" alt="" />
      {{/if}}
    </div>
  </div>
    
  <div class="portfolio-details">
    <a class="btn btn-success btn-block" href="/contact">Ask about this project!</a>
    <p><a href="/portfolio-items">&larr; Back to portfolio list</a></p>
  </div>
</div>