@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.backdrop {
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: rgb(0, 0, 0, 0.5);
  display: none;
}

.main-header {
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid rgb(56, 144, 216);
}

.nav-brand {
  margin-left: 1rem;
  z-index: 102;
}

.nav-brand img {
  height: 2.5rem;
}
.nav-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
.nav-brand a h5 {
  margin-left: 0.5rem;
}

.main-nav {
  display: none;
}

.main-nav__list-item a,
.mobile-nav__list-item a {
  text-decoration: none;
  color:rgb(41, 41, 41);
}

.mobile-nav {
  background: white;
  border-top: 3px solid rgb(56, 144, 216);
  width: 100%;
  height: 100vh;
  z-index: 101;
  position: fixed;
  top:0;
  left:0;
  display: none;
}
.mobile-nav__list {
  margin-top: 5rem;
  margin-right: 5rem; 
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-nav__list-item {
  z-index: 200;
}

.mobile-nav__list-item a { 
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav__list-item:hover {
  cursor: pointer;
}
.mobile-nav__list-item img {
  margin-top: 0.5rem; 
  width: 2.5rem;
}

/* TOGGLE HAMBURGER BUTTON */

.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  z-index: 102;
}
.toggle-button img {
  width: 2.5rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

/* --------------------- */

.open {
  display: block !important;
}


@media (min-width: 40rem) {
  .main-nav {
    display: flex;
  }
  .main-nav__list{
    display: flex;
    list-style: none;
  }
  .main-nav__list-item {
    margin-right: 1rem;
  }
  .toggle-button {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}