.blog-wrapper {
  width: 80%;
  margin: 0 auto;
}

.blog-post {
  margin: 2rem 0;
}

.blog-header {
  height: 55vh;
  background-color: rgb(56, 144, 216);
}
.blog-header img {
  width: 100%;
  height: 50%;
  
}
.blog-header .blog-header__title {
  margin: 0;
  padding: 0;
  height: 50%;
}

.blog-header .blog-header__title h1 {
  margin: 0;
  color: white;
  font-weight: 100;
  font-size:1.5rem;
  padding: 2rem 2rem 0 2rem;
}

.blog-header .blog-header__title p {
  color: white;
  padding: 0 2rem;
  font-style: italic;
}

.categories {
  height: 55vh;
  background:  rgb(248, 248, 248);
  margin-bottom: 2rem;
}

.categories-title {
  font-weight: 100;
  text-align: center;
  color: rgb(56, 144, 216);
  border-bottom: 1px solid  rgb(56, 144, 216);;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

.categories-list {
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}

.categories-list__item {
  margin: 1rem 0;
  cursor: pointer;
}

.categories-list__item a {
  text-decoration: none;
  color: #424242;
}

@media (min-width: 40rem) {
  .blog-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .categories {
    position: fixed;
    top:7.5rem;
    left: 20;
    width: 20vw;
    min-width: 12.5rem;
    height: 40vh;
  }
  .blog-post {
    margin-left: 25vw;
  }
}

@media (max-width: 50rem) {
  .categories {
    display: none;
  }
  .blog-post {
    margin-left:0;
  }
}