.portfolio {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 8px 1px #ccc;
  padding: 20px;
  height: 60vh;
}

.portfolio .portfolio-description {

}

.portfolio-area {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.portfolio-description h1 {
  font-weight: 300;
}

.portfolio-details {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}


.portfolio .image {
  height: 40vh;
  width: 40vh;
  
}

.image img {
  width: 100%;
}


.portfolio-details p,
.portfolio-details a {
  
  padding: 0;
  margin: 0;
}