.portfolio {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 8px 1px #ccc;
  padding: 20px;
  height: auto;
  
}

.portfolio .portfolio-description {
  margin-bottom: 0;
}


.portfolio-area {
  
  box-sizing: border-box;
  text-align: center;
}

.portfolio-description h1 {
  font-weight: 300;
}
.portfolio-description ul {
  list-style: none; 
  padding:0;
  text-align: left;
}
.portfolio-description ul li {
  margin-bottom:10px;
}
.portfolio-details {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}


.description {
  font-size: 1.2rem;
  font-weight: 300;
}

.portfolio .image {
  /* height: 40vh; */
  width: 60%;
  margin: 0 auto;
  
  

}

.image img {
  width: 100%;
  
}
.portfolio-details {
  margin: 0;
}

.portfolio-details p,
.portfolio-details a {
  
  padding: 0;
  margin: 0;
}

.git-logo {
  width: 25px; 
  display: inline;
  color: #1d1d1d;
  font-size: 2rem;
  font-weight: bold;
  
}


.git-logo img {
  width: 15%;
  margin-left: 1rem;
}
.slideshow-container {
  display: none;
}

.mobile-gallery {
  margin: 5rem auto;
  width: 70%;
  text-align: center;
}

.gallery-img {
  height: 80vh;
  background: gray;
  overflow: hidden;
  /* width: 80%; */
}

.gallery-img img {
  width:100%; 
  height: 100%;
  object-fit: contain;
}


.slideshow-title {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 10vh;
  background: #379683;
  
  
  box-shadow: 
  inset 0px 11px 8px -10px #55cfb7,
  inset 0px -11px 8px -10px #55cfb7; 
}
.slideshow-title h1 {
  color: #eee;
}

.dots {
  background: #379683;
  display: flex;
  justify-content: center;
  height: 5vh;

}
.dots div {
  display: flex;
  align-self: center;
  flex-direction: row;
}




* {box-sizing:border-box}

/* Slideshow container */
/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */


/* Hide the images by default
.Slides {
  display: none;
} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 5px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media (min-width: 500px){
  .portfolio-area {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 5rem;
  }
  .portfolio-description {
    width: 80%;
  }
  .portfolio .image {
    max-width: 25%;
    margin: 0;
  }
  
  .mobile-gallery {
    display: none;
  }
  .slideshow-container {
    width: 70vw;
    margin: 5rem auto;
    height:100%;
    border: 1px solid #eee;
    box-shadow: 1px 3px 8px 1px rgb(141, 141, 141);
    margin-bottom:10rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
 }
 
