main {
  width: 80%;
  margin: 0 auto;
}

article {
  margin-top: 5rem;
  background: rgb(240, 240, 240);
  padding: 1rem;
}

article .image {
  height: 30vh;
}

article img {
  width: 100%;
  height: 100%;
}

pre[class*="language-"] {
 border: 1px solid black;
}